.msg-li {
	list-style-type: none;
}
.member-li {
	list-style-type: none;
}
.msg-name {
	font-weight: bold;
}
.msg-date {
	font-size: 10pt
}
.msgs {
	width: 60%;
	height: 150px;
	overflow: scroll;
	float: left;
}
.joined-users {
	width: 35%;
	height: 150px;
	overflow: scroll;
	padding: 2px !important;	
}
.chatMsgBox {
	margin-right: 10px;
	padding: 2px !important;
}